<p>create-vehicle works!</p>

<h1>create-vehicle</h1>
<form [formGroup]="vehicleForm">

<label>Vehicle:</label>
<input type="text" formControlName="Vehicle">
<br>

<label>manufacurer:</label>
<input type="text" formControlName="manufacturer">
<br>

<label>model:</label>
<input type="text" formControlName="model">
<br>

<label>type:</label>
<input type="text" formControlName="type">
<br>

<label>fuel:</label>
<input type="text" formControlName="fuel">
<br>

<label>color:</label>
<input type="text" formControlName="color">
<br>

<label>image:</label>
<input type="text" formControlName="image">
<br>

<button class="btn btn-warning" (click)="submit()">submit</button>

</form>