<div class="parent">
    <div class="child">
        <form [formGroup]="loginForm">
            <h1>Login</h1>

            <label>Email:</label>
            <input type="text" placeholder="Enter email" formControlName="email">
            <br>

            <label>Password:</label>
            <input type="password" placeholder="Enter password" formControlName="password">
            <br>

            <button (click)="login()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>