<p>create-user works!</p>
<form [formGroup]="userForm">

    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>
    <label>Age:</label>
    <input type="text" formControlName="age">
    <br>
    <label>Phone:</label>
    <input type="text" formControlName="phone">
    <br>
    <label>Email:</label>
    <input type="text" formControlName="email">
    <br>

    <div formGroupName="address">
        <label>Hno:</label>
        <input type="text" formControlName="hno">
        <br>
        <label>State:</label>
        <input type="text" formControlName="state">
        <br>
        <label>Pin:</label>
        <input type="text" formControlName="pin">
        <br>

    </div>

    <label>type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholor">
    <label>Day scholor</label>
    <input type="radio" name="type" formControlName="type" value="resindential">
    <label>Residential</label>
    <br>

    <div *ngIf="userForm.get('type')?.value == 'dayScholor'">
        <label>bus fee:</label>
        <input type="number" formControlName="busFee">
        <br>
    </div>

<div *ngIf="userForm.get('type')?.value == 'resindential'">
    <label>hostel fee:</label>
    <input type="number" formControlName="hostelFee">
    <br>
  </div>  
  
     <button (click)="addCard()">add card</button>

     <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">

                <h1>card {{i+1}} </h1>
                <label>no:</label>
                <input type="number" formControlName="no">
                <br>

                <label>exp:</label>
                <input type="month" formControlName="exp">
                <br>
   
                <label>cvv:</label>
                <input type="number" formControlName="cvv">
                <br>

                <button (click)="deletecard(i)" class="btn btn-danger">delete</button>

            </div>
        </div>
     </div>
     
    <button (click)="submit()" class="btn btn-warning">submit</button>

</form>