<p>create-user works!</p>
<form [formGroup]="userForm">

    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>
    <label>Age:</label>
    <input type="text" formControlName="age">
    <br>
    <label>Phone:</label>
    <input type="text" formControlName="phone">
    <br>
    <label>Email:</label>
    <input type="text" formControlName="email">
    <br>

    <div formGroupName="address">
        <label>Hno:</label>
        <input type="text" formControlName="hno">
        <br>
         <label>State:</label>
         <input type="text" formControlName="state">
         <br>
         <label>Pin:</label>
         <input type="text" formControlName="pin">
         <br>

    </div>
     <button (click)="submit()" class="btn btn-warning">submit</button>

</form>
