<div class="parent">
    <div class="left">
        <h1>MY WEBSITE</h1>
        <hr> 
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="info">Info</h2>
        <h2 routerLink="variable">variable</h2>
        <h2 routerLink="interpolation">Interpolation</h2>
        <h2 routerLink="eventbinding">Eventbinding</h2>
        <h2 routerLink="twowaybinding">Twowaybinding</h2>
        <h2 routerLink="Calculator">Calculator</h2>
        <h2 routerLink="Rectangle">Rectangle</h2>
        <h2 routerLink="Circle">Circle</h2>
        <h2 routerLink="Bmi">Bmi</h2>
        <h2 routerLink="structural-directives">Structural directives</h2>
        <h2 routerLink="attribute-directives">attribute directives</h2>
        <h2 routerLink="Marksheet">Marksheet</h2>
        <h2 routerLink="vehicle">Vehicle</h2>
        <h2 routerLink="Bankaccounts">Bankaccounts</h2>
        <h2 routerLink="Flipcart">Flipcart</h2>
        <h2 routerLink="mail">Mail</h2>
        <h2 routerLink="activity">Activity</h2>
        <h2 routerLink="memes">Memes</h2>
        <h2 routerLink="personal">Personal</h2>
        <h2 routerLink="student">Student</h2>
        <h2 routerLink="practice">Practice</h2>
        <h2 routerLink="create-vehicle">create-vehicle</h2>
        <h2 routerLink="account">Account</h2>
        <h2 routerLink="create-user">create-user</h2>
            
        <button routerLink="/login">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
