<p>account works!</p>

<form [formGroup]="accountForm">

    <label>accountForm:</label>
    <input type="text" formControlName="accountForm">
    <br>
    <label>available_balance:</label>
    <input type="text" formControlName="available_balance">
    <br>

    <label>account_number:</label>
    <input type="text" formControlName="account_number">
    <br>

    <label>city:</label>
    <input type="text" formControlName="city">
    <br>

    <label>profie_picture:</label>
    <input type="text" formControlName="profie_picture">
    <br>

    <label>id:</label>
    <input type="text" formControlName="id">
    <br>


    <button class="btn btn-warning"(click)="submit()">submit</button>

</form>


