<p>marksheet works!</p>

<input type="text"  [(ngModel)]="term" (keypress)="search()" >

<button (click)="free()">only free deleivery</button><br>

<button (click)="sort1()">price low to high</button>
<button (click)="sort2()">price high to low</button>
<button (click)="sort3()">rating low to high</button>
<button (click)="sort4()">rating high to low</button><br>
<button (click)="Map()">Apply 50% discount</button>
<button (click)="delivery()">price with delivery charges</button>
<br>

<button (click)="sum()">Total price</button>
<button (click)="cart()">Total cart items</button>

<table class="table table-dark">
    <thead>
        <tr>
        <th>SNO</th>
        <th>product name</th>
        <th>price</th>
        <th>rating</th>
        <th>free delivery</th>
        <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | price}}</td>
            <td appImp>{{product.rating}}</td>
            <td>{{product.freedelivery}}</td>
            <td>
                <button class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>